# From https://www.bungie.net/en/Application (see README "One-time setup")
BUNGIE_API_KEY=
BUNGIE_CLIENT_ID=
BUNGIE_CLIENT_SECRET=

# Optional
# GUARDJIN_HOME=C:/Users/you/.guardjin      # where tokens, manifest and wishlist caches live
# GUARDJIN_LANGUAGE=en                       # manifest language
# GUARDJIN_REDIRECT_PORT=7777                # must match the redirect URL registered with Bungie
# GUARDJIN_WISHLIST_URL=https://raw.githubusercontent.com/48klocs/dim-wish-list-sources/master/voltron.txt
